
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes - filter list
      </h1>
      <p>
        This is a prototype for a functional implementation of the "filter a list" pattern
      </p>

      <h2 class="govuk-heading-m">Samples</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/filter-list">Filter list example</a>
        </li>
        <li>
          <a href="/filter-list-html">Filter list example (HTML)</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
